services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    image: py-blog-backend
    container_name: py-blog-backend
    env_file:
      - .env
    ports:
      - "8001:8000"
    restart: unless-stopped
    depends_on:
      - db

  db:
    image: postgres:alpine
    container_name: py-blog-db
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DATABASE_USER} -d ${DATABASE_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    restart: unless-stopped

volumes:
  pgdata:
